body {
    background-color: red;
    color: black;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    width: 960px;
}

h1 {
    font-size: 95px;
    color: rgb(red, green, blue);
}


/*img {
    padding-left: 35px;
}*/